<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="netstandard.library" version="2.0.3"/>
  <package id="fsharp.core" version="4.7.2"/>

  <package id="fscheck.nunit" version="2.14.3"/>
  <package id="fsunit" version="3.9.0"/>
  <package id="nunit" version="3.12.0"/><!-- [nunit|nunitlite] -->
  <package id="nunit.consolerunner" version="3.11.1"/>
  <!--<package id="fscheck.xunit" version="2.14.3"/>
  <package id="fsunit.xunit" version="3.9.0"/>
  <package id="xunit.core" version="2.4.1"/>
  <package id="xunit.runner.console" version="2.4.1"/>-->
  <package id="microsoft.net.test.sdk" version="16.6.1"/>

  <!--<package id="log4net" version="2.0.10"/>-->
  <package id="ini-parser-netstandard" version="2.5.2"/>

  <!--<package id="system.diagnostics.textwritertracelistener" version="4.3.0"/>-->
  <!--<package id="mono.options" version="6.6.0.161"/>-->
  <!--<package id="newtonsoft.json" version="12.0.3"/>-->
  <!--<package id="yamldotnet" version="8.1.2"/>-->

  <!--<package id="mono.gendarme" version="2.11.0.20121120"/>-->
  <!--<package id="ilrepack" version="2.0.18"/>-->

  <!-- for non-strongnamed assemblies, like FsCheck[.NUnit|.Xunit] -->
  <!--<package id="brutal.dev.strongnamesigner" version="2.7.1"/>-->
</packages>
  <!-- Nuget install using packages.config & list local packages
    mono nuget.exe install -framework netstandard2.0 -excludeversion
      -o $HOME/nuget/packages packages.config ;
    mono nuget.exe list -source $HOME/.nuget/packages -->
