# {{parentcap}}{{^parentcap}}Introfs{{/parentcap}}{{joiner}}{{^joiner}}.{{/joiner}}{{projectcap}}{{^projectcap}}Util{{/projectcap}}
<!-- .md to .html: markdown foo.md > foo.html
                   pandoc -s -f markdown_strict -t html5 -o foo.html foo.md -->

{{description}}{{^description}}Utilities sub-package for FSharp Intro examples project.{{/description}}

## Installation
source code tarball download:
    
        # [aria2c --check-certificate=false | wget --no-check-certificate | curl -kOL]
        FETCHCMD='aria2c --check-certificate=false'
        $FETCHCMD https://{{repohost}}{{^repohost}}bitbucket.org{{/repohost}}/{{repoacct}}{{^repoacct}}imcomputer{{/repoacct}}/{{parent}}{{^parent}}introfs{{/parent}}/[get | archive]/master.zip

version control repository clone:
        
        git clone https://{{repohost}}{{^repohost}}bitbucket.org{{/repohost}}/{{repoacct}}{{^repoacct}}imcomputer{{/repoacct}}/{{parent}}{{^parent}}introfs{{/parent}}.git

build example with make:
[sh] ./configure.sh [--prefix=$PREFIX] [--help]
make restore
make all [testcompile check]
make nugetadd [nugetinstall]

build example with msbuild:
msbuild /t:restore [/t:restore tests/*.*proj]
[LD_LIBRARY_PATH=$PREFIX/lib] msbuild /t:build [/t:build,test tests/*.*proj]
msbuild /t:nugetadd,nugetinstall

## Usage
{{#executable}}
        [env RSRC_PATH=<path>/resources] [mono] <path>/{{parentcap}}{{^parentcap}}Introfs{{/parentcap}}{{joiner}}{{^joiner}}.{{/joiner}}{{projectcap}}{{^projectcap}}Util{{/projectcap}}.exe [-h]
{{/executable}}
{{^executable}}
        // PKG_CONFIG='pkg-config --with-path=$PREFIX/lib/pkgconfig'
        // $PKG_CONFIG --cflags --libs <ffi-lib>

        using {{parentcap}}{{^parentcap}}Introfs{{/parentcap}}{{joiner}}{{^joiner}}.{{/joiner}}{{projectcap}}{{^projectcap}}Util{{/projectcap}};
        ...
        let (xs, ys) = ([0; 1; 2], [10; 20; 30]) in
        let prod = cartesianProd xs ys in
        ...
{{/executable}}

## Author/Copyright
Copyright (c) {{year}}{{^year}}2014{{/year}} by {{author}}{{^author}}{{repoacct}}{{^repoacct}}imcomputer{{/repoacct}}{{/author}} <{{email}}{{^email}}{{repoacct}}{{^repoacct}}imcomputer{{/repoacct}}-codelab@yahoo.com{{/email}}>

## License
Licensed under the {{license}}{{^license}}Apache-2.0{{/license}} License. See LICENSE for details.
