using System.Reflection;
//[assembly: AssemblyFileVersion("{{version}}{{^version}}0.1.0{{/version}}.*")]
//[assembly: AssemblyVersion("{{version}}{{^version}}0.1.0{{/version}}")]
//[assembly: log4net.Config.XmlConfigurator(Watch=false)]
